{% extends 'base.html' %}

{% block title %}Remove{% endblock %}

{% block content%}
<div class="row">
    <div class="col-sm-6">
        <p>
            <h5>Remove {{ tenant.name }}</h5>
            <ul>
                <li>Tenant childs objects within will be deleted</li>
                <li>Users and Networks</li>
            </ul>
        </p>
        <form method="POST">
            <button type="submit" class="btn btn-danger">Yes</button>
            <a class="btn btn-success" href="{{ url_for('tenant', id=tenant.id) }}" role="button">No</a>
            <a class="btn btn-primary" href="{{ url_for('home') }}" role="button">Home</a>
        </form>
    </div>
</div>
{% endblock %}