{% extends 'base.html' %}

{% block title %}Remove{% endblock %}

{% block content%}
<div class="row">
    <div class="col-sm-6">
        <p>
            <h5>Remove {{ contact.name }} {{ contact.surname }}</h5>
            <ul>
                <li>Contact will be detached for the Tenant if belonging to more Tenants</li>
                <li>Contact will be deleted from the database if not belonging to more Tenants</li>
            </ul>
        </p>
        <form method="POST">
            <button type="submit" class="btn btn-danger">Yes</button>
            <a class="btn btn-success" href="{{ url_for('tenant', id=contact.tenant_id) }}" role="button">No</a>
            <a class="btn btn-primary" href="{{ url_for('home') }}" role="button">Home</a>
        </form>
    </div>
</div>
{% endblock %}