{% extends 'base.html' %}

{% block title %}Zones{% endblock %}

{% block content%}
<div class="row">
    <div class="col-sm-8">
        <p>
            <h4>Details for Environment {{ env.name }}</h4>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th class="w-20" scope="col">Tenant</th>
            <th class="w-60" scope="col">Description</th>
            <th class="w-20" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for tenant in env.tenants %}
          <tr>
              <td>{{ tenant.name }}</td>
              <td>{{ tenant.name_long }}</td>
              <td><a class="btn btn-outline-primary btn-sm" href="{{ url_for('tenant', id=tenant.id) }}" role="button">details</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th class="w-20" scope="col">Zone</th>
            <th class="w-40" scope="col"></th>
            <th class="w-40" scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for zone in env.zones %}
        <tr>
          <td><strong>{{ zone.code }} {{ zone.envs }}</strong></td>
          <td>
            <p>{{ zone.description }}</p>
            <p>
              <div class="accordion accordion-flush"
              id="accordionPolicies">
                  <div class="accordion-item">
                      <h2 class="accordion-header" id="headingPolicies{{ zone.code }}">
                          <button class="accordion-button collapsed"
                              type="button"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapsePolicies{{ zone.code }}"
                              aria-expanded="true"
                              aria-controls="collapsePolicies{{ zone.code }}">
                              <strong>Policies</strong>
                          </button>
                      </h2>
                      <div id="collapsePolicies{{ zone.code }}"
                          class="accordion-collapse collapse collapse"
                          aria-labelledby="headingPolicies{{ zone.name }}"
                          data-bs-parent="#collapsePolicies{{ zone.code }}">
                          <div class="accordion-body">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Description</th>
                                  <th scope="col"></th>
                                  <th scope="col">Allowed</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for policy in zone.policies %}
                                <tr>
                                  <td>{{ policy.description }}</td>
                                  <td></td>
                                  <td>{{ policy.code }}</td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="accordion accordion-flush"
                id="accordionObjects">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingObjects{{ zone.code }}">
                            <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseObjects{{ zone.code }}"
                                aria-expanded="true"
                                aria-controls="collapseObjects{{ zone.code }}">
                                <strong>Objects</strong>
                            </button>
                        </h2>
                        <div id="collapseObjects{{ zone.code }}"
                            class="accordion-collapse collapse collapse"
                            aria-labelledby="headingObjects{{ zone.name }}"
                            data-bs-parent="#collapseObjects{{ zone.code }}">
                            <div class="accordion-body">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Tenant</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">Description</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for object in zone.fqdn_objects %}
                                  <tr>
                                  <td>
                                    {% if not object.tenant_id %}
                                      <button class="btn btn-outline-danger btn-sm">{{ env.name }}</button>
                                    {% else %}                      
                                      {% for tenant in env.tenants %}
                                      {% if tenant.id == object.tenant_id %}
                                      <button class="btn btn-outline-primary btn-sm">{{ tenant.name }}</button>
                                      {% endif %}
                                      {% endfor %}
                                    {% endif %}
                                  </td>
                                    <td>{{ object.code }}</td>
                                    <td>{{ object.fqdn }}</td>
                                    <td>{{ object.description }}</td>
                                  </tr>
                                {% endfor %}
                                {% for object in zone.network_objects %}
                                <tr>
                                  <td>
                                    {% if not object.tenant_id %}
                                      <button class="btn btn-outline-danger btn-sm">{{ env.name }}</button>
                                    {% else %}                      
                                      {% for tenant in env.tenants %}
                                      {% if tenant.id == object.tenant_id %}
                                      <button class="btn btn-outline-primary btn-sm">{{ tenant.name }}</button>
                                      {% endif %}
                                      {% endfor %}
                                    {% endif %}
                                  </td>
                                  <td>{{ object.code }}</td>
                                  <td>{{ object.subnet }}</td>
                                  <td>{{ object.description }}</td>
                                </tr>
                              {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                  </div>
              </p>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('environments') }}" role="button">Back</a>
    </div>
</div>
{% endblock %}